form{
    display: flex;
    flex-direction: column;
}

input{
    width: 230px;
    height: 30px;
    font-size: 1.2rem;
    border-radius: 6px;

}

label{
    font-size: 1.2rem;
}

button{
    width: 230px;
    height: 30px;
    border-radius: 6px;
    margin-top: 30px;
}

